.bef-select-as-glossary-links-wrapper .bef-select-as-links .form-type-bef-link {
    display: inline-block;
}
.bef-select-as-glossary-links-wrapper .bef-select-as-links .form-type-bef-link:after {
    content: '|';
}
.bef-select-as-glossary-links-wrapper .bef-select-as-links .form-type-bef-link:last-child::after {
    content: '';
}